.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mySwiper {
  position: relative;
  z-index: 10;
}

.projects-wrapper {
  margin-top: 1rem; 
}


.slide-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-desc {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;    
  font-weight: 500;    
  color: #222;       
  max-width: 300px;
}
